# Ignore virtual environment directories
new_env/
venv/
.env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore log files
logs/

# Ignore data directories
data/

# Ignore personal configuration files
.zshrc
.zshrct

# Ignore system files
.DS_Store

# Ignore data files
*.npy
*.h5